@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

nav li {
    list-style-type:none;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fffffa;
    color: #111111;
    line-height: 1.5;
    max-width: 40em;
    padding: 2rem;
    margin: auto;
}

footer {
    text-align: center;
}

table, th, td {
    border: 1px solid #111111;
}

td, th {
    padding: 5px 5px 5px 5px;
    text-align: center;
}
